    <!--<div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div>
    </div>-->


    <footer class="bg-grau t30">
      <div id="footer">
        <div class="row">

          <div class="medium-9 large-9 columns shadow-black t30">
            <p>
               	☦  {{ site.title }}<br/>
                3214 N St, Vancouver, WA 98663
            </p>
            <section class="credits">
                <a href="/about/">about</a> -
                <a href="/calendar/">calendar</a> -
                <a href="/newsletter/">newsletter</a> -
                <a href="/contact/">contact</a> -
                <a href="https://www.facebook.com/holyapostles/" target="_blank">facebook</a>
            </section>
          </div>

          <div class="medium-3 large-3 columns text-center">
          {% if page.homepage != true %}
            <h5 class="shadow-black">Random photo</h5>

            <div id="recent-image"></div>

            <!-- idea: https://piwigo.org/forum/viewtopic.php?id=28334 -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script type="text/javascript">
            var pwg_api = "https://photo.holy12.org/ws.php?format=json&method=pwg.categories.getImages&per_page=1&page=1&order=random";
            $.getJSON(pwg_api, function (json) {
                var images = json.result.images;
                $.each( images, function ( i, image ) {
                var src = image.derivatives.thumb.url;
                var height = image.derivatives.thumb.height;
                var name = image.file;
                var link = image.categories[0].page_url;
                $('#recent-image').append('<a href="' + link + '" target="_blank"><img class="img-shadow t10" src="' + src + '"/></a>');
                });
            });
            </script>
          {% endif %}
          </div>

        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
      <div id="subfooter-content">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-12 columns credits">
            <p>{{ site.credits }}</p>
          </section>
        </nav>
      </div>
      </div><!-- /#subfooter -->
    </footer>
