    <!--<div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div>
    </div>-->


    <footer id="footer-content" class="bg-grau t30">
      <div id="footer">
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">About</h5>

            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}{{ site.baseurl }}/about/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <!--<div class="small-6 medium-3 large-3 large-offset-1 columns">
            {% for service_item in site.data.services %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

              <ul class="no-bullet shadow-black">
              {% for service_item in site.data.services %}
                {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                  <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">Random photo</h5>
              {% endif %}
            {% endfor %}

            <div id="recent-image"></div>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

            <script type="text/javascript">
            // var pwg_api = "http://photo.holy12.org/ws.php?format=json&method=pwg.categories.getImages&recursive=true&per_page=5&recursive=true&order=date_available%20desc";

            var pwg_api = "http://photo.holy12.org/ws.php?format=json&method=pwg.categories.getImages&per_page=1&page=1&order=random"

            $.getJSON(pwg_api, function (json) {
                var images = json.result.images;

                $.each( images, function ( i, image ) {
                var src = image.derivatives.thumb.url;
                var height = image.derivatives.thumb.height;
                var name = image.file;
                var link = image.categories[0].page_url;

                $('#recent-image').append('<a href="' + link + '"><img class="img-fluid" src="' + src + '" alt="' + name + '"/></a>');
                });
            });
            </script>

          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
