---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
  {% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
  {% unless page.skip_boilerplate %}
  {% include _navigation.html %}
  {% endunless %}

  {% if page.name == "russian.md" %}
    {% include alert alert='В связи с задымлением, богослужения для прихожан отменены. Но вы можете смотреть богослужения онлайн.' %}
  {% else %}
    {% include alert alert='Due to the poor air quality this weekend, public services have been canceled. Please tune in to watch online.' %}
  {% endif %}

  {% include _masthead.html %}

  {{ content }}

  {% unless page.skip_boilerplate %}
  {% include _footer.html %}
  {% endunless %}

{% include _footer_scripts.html %}
</body>
</html>
